---
# argonaut years layout 
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
custom-foot: js/years-js.html
---
{% assign year = page.title %}
<div class="container py-3">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | relative_url }}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/years.html' | relative_url }}">Years</a></li>
        <li class="breadcrumb-item active text-dark" aria-current="page">{{ page.title | truncatewords: 10 }}</li>
    </ol>

    <img class="img-fluid w-100 rounded" src="{{ site.objects }}/years/{{ page.masthead_img }}" alt="Argonaut {{ year }}">

    <h2 class="display-5">Argonaut Issues from {{ year }}</h2> 

    <div class="row justify-content-center">
        <div class="col-12 col-md-10">

            <table id="yearTable" class="table">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Subjects</th>
                    </tr>
                </thead>
                <tbody>
                    {% assign issues = site.data.argonaut | where: "year", year %}
                    {% for issue in issues %}
                    <tr>
                        <td>
                            <a href="{{ '/items/' | relative_url }}{{ issue.objectid }}.html">{{ issue.title }}<br><img class="img-fluid" src="{{ issue.image_thumb }}" alt="newspaper front page"> </a>
                        </td>
                        <td>{{ issue.date }}</td>
                        <td>
                            {% if issue.description %}{{ issue.description }}<br>{% endif %}
                            {{ issue.subject }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        {% include item/browse-buttons.html %}

    </div>

</div>
