---
# custom layout for Gem yearbooks
# title,volume,date,quote,sponsor,signatures,archive_link,image_spine,highlight_images,object_location,image_thumb,image_small
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
gallery: true
---
<div class="container py-3">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/' | relative_url }}">Home</a></li>
        <li class="breadcrumb-item"><a class="text-dark" href="{{ '/browse.html' | relative_url }}">Browse</a></li>
        <li class="breadcrumb-item active text-dark" aria-current="page">Gem {{ page.date }}</li>
    </ol>

    <div class="my-0 h5 small">{{ page.display_template | replace: "_", " " | upcase }} </div>
    
    <h2 class="mb-3 display-4">{{ page.title }} ({{ page.volume }})</h2>
    
    <blockquote class="blockquote ms-5 mb-4 text-end">{{ page.quote | markdownify }}</blockquote>

    <div class="row justify-content-center">
        
        <div class="col-md-8">
            <div class="ratio reader-embed">
                <iframe title="embedded reader {{ page.title }}" src="{{ page.archive_link | replace: '/details/', '/embed/' }}" allowfullscreen></iframe>
            </div>
            <p class="my-3">
                <a target="_blank" rel="noopener" href="{{ page.archive_link }}/mode/2up?view=theater" class="btn btn-outline-primary">Fullscreen Viewer</a>
                <a target="_blank" rel="noopener" href="{{ page.object_location | relative_url }}" class="btn btn-outline-primary">Download PDF</a>
            </p>
        </div>
        <div class="col-md-3">
            <h3>Highlights</h3>
            <p><small>(click to enlarge)</small></p>
            {% assign highlights = page.highlight_images | split: ';' %}
            <div class="row">
                {% for h in highlights %}
                <div class="col-6 mb-2">
                    <a class="spotlight gallery-img" data-download="true" href="https://objects.lib.uidaho.edu/gem/highlights/{{ h }}">
                        <img src="https://objects.lib.uidaho.edu/gem/highlights/small/{{ h | replace: '.jpg', '_sm.jpg' }}" alt="yearbook page highlight" class="img-fluid">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1 order-md-first">
            <a class="spotlight gallery-img" data-download="true" href="{{ page.image_spine }}">
            <img src="{{ page.image_spine }}" class="img-fluid img-spine" alt="book spine showing {{ page.title }}">
            </a>
        </div>

        <div class="col-12 col-md-10 pt-4">
            {% if page.sponsor %}<p><strong>Yearbook Sponsor:</strong> {{ page.sponsor }}</p>{% endif %}
            {% if page.signatures %}<p><strong>Digital Yearbook Signatures:</strong></p>
            {% assign signatures = page.signatures | split: ';' %}
            <ul>
            {% for s in signatures %}
            <li>{{ s }}</li>
            {% endfor %}
            </ul>
            {% endif %}

            {% include item/contact-btn.html %}

        </div>

        <div class="col-md-5 py-4">
            {% include item/citation-box.html %}
        </div>
        {% if page.rights or page.rightsstatement %}
        <div class="col-md-5 py-4">
            {% include item/rights-box.html %}
        </div>
        {% endif %}
    </div>

    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>
