/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

// make library logo bigger
#footer-logo {
    height: 65px;
}
// fix pride gold outlines
.btn-outline-primary, .btn-outline-pride-gold {
    color: #191919;
}

// Allan display fonts
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: 'Allan', helvetica, Helvetica, Rockwell,cursive;
}

main {
    background: url(https://www.lib.uidaho.edu/digital/objects/argonaut/bg-2.jpg) repeat scroll 0 0;
}

// custom ratio for IA reader on yearbook page
.reader-embed { 
    // 4x3 ratio
    --bs-aspect-ratio: calc(3 / 4 * 100%);
    // min height for mobile
    min-height: 500px;
}

// spines page
.bg-bookshelf {
    background-color: #3a4944;
}
.bookshelf {
    max-width: 1000px;
}
.spines {
    background: url('https://objects.lib.uidaho.edu/gem/images/wallpaper/12.jpg');
}
.spine-year { 
    display: none; 
    text-align: center;

}
.yearbook-spine {
    height: 510px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 60px;
    img { 
        height: 450px;
    }
    &:hover {
        padding-top: 10px;
        .spine-year {
            display: block !important;
            height: 50px;
        }
    }
}
