/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

// make library logo bigger
#footer-logo {
    height: 65px;
}
// fix pride gold outlines
.btn-outline-primary, .btn-outline-pride-gold {
    color: #191919;
}

// display fonts
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: 'Allan', helvetica, Helvetica, Rockwell,cursive;
}

.browse-thumb {
    max-width: 175px;
}

// timeline
.timeline-card {
    max-width: 250px;
    img { max-height: 250px; }
}