---
# custom Arg home page
layout: default
custom-foot: js/highlights-js.html
---
<style>
    main { background: url("https://www.lib.uidaho.edu/digital/objects/argonaut/bg-2.jpg") repeat scroll 0 0; }
</style>

<div class="container">

    <div class="card my-5">
        <div class="card-body">
            <h2 class="display-5">Breaking News: Access Over 6,500 Issues of The Argonaut!</h2>
            <p><em>The Argonaut</em> is University of Idaho's student run newspaper, reporting on campus and beyond for over 125 years. This digital collection provides access to issues from 1898 to 2021. Follow the navigation options above or click a highlight below to browse and discover the Argonaut! <button id="i-refresh" class="btn btn-outline-pride-gold float-end">Refresh Highlights</button></p>

            <hr class="my-4">

            <div class="grid" id="grid">

            </div>

        </div>
    
</div>