---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<h2 class="display-3">Gem of the Mountains Digital Yearbook Collection</h2>

<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}
    <img class="img-fluid mb-3 rounded shadow" src="https://www.lib.uidaho.edu/digital/gem/spread1.jpg" alt="image of fancy traditional campus administration building with the words Gem of the Mountains">
    
  </div>
  <div class="col-md-4">

    {% include index/carousel.html title="Sample Items" %}

    {% include index/time.html %}
    
    {% include index/objects.html %}

  </div>

</div>