---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Sample Items" carousel-type= YouTube %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="opponent" title="Top Opponents" btn-color="clearwater" %}

    {% include index/featured-terms.html field="stadium" title="Top Stadiums" btn-color="outline-palouse" %}
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>

</div>